<nav class="navbar navbar-toggleable-md navbar-light bg-faded blog-nav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <%= link_to "Learnhu", root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= nav_helper 'nav-link', 'li' %>
    </div>
      </ul>
  </div>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn"><%= gravatar_helper current_user, 60, "img-circular" %></button>
    <div id="myDropdown" class="dropdown-content">
      <%= login_helper 'nav-link' %>
    </div>
  </div>
</nav>
