<div class="col-sm-8 blog-main">
  <h1>Editing Topic</h1>

  <div class="form-group">
    <%= link_to 'Show blogs', @topic, class: 'btn btn-info' %>
  </div>

  <%= render 'form', topic: @topic %>

</div>
