<div class="container portfolio-container">
  <h1>Edit this Portfolio Item</h1>

  <%= render "form", portfolio_item: @portfolio_item %>

  <div class="form-group">
    <%= link_to 'Delete this portfolio', @portfolio_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %>
  </div>
</div>
