<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Learnhu</h1>
    <p class="lead blog-description"><em>"I know that I know nothing" - Socratic</em></p>
    <span><%= link_to 'Write a New Blog', new_blog_path, class: 'btn btn-warning' if logged_in? :site_admin %></span>
    <span><%= link_to 'Blog Topics', topics_path, class: 'btn btn-info' if logged_in? :site_admin %></span>
  </div>
</div>
