<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#" class='btn btn-info btn-place'>Back to top</a>
    </p>
    <p>
      <%= copyright 'Louis Tseng', Time.now.year %>
    </p>
  </div>
</footer>
