<h1>Pages#contact</h1>

<p><%= number_to_phone "0912345678" %></p>

<p><%= number_to_currency "0912345678" %></p>

<p><%= number_to_percentage "50.1" %></p>

<p><%= number_with_delimiter "374298347329487329732" %></p>
